<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puppy Tracker</title>

    <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.js"></script>
</head>
<body>

    <div>

        <h1>Welcome to Puppy Tracker</h1>
        <button class="event_button" id="add_pee">Pee</button>
        <button class="event_button" id="add_poop">Poop</button>
        <button class="event_button" id="eat">Eat</button>
        <button class="event_button" id="crate_in">Crate In</button>
        <button class="event_button" id="crate_out">Crate Out</button>
        <button class="event_button" id="bath">Bath</button>


    </div>
    <script src="/static/js/events.js"></script>
</body>
</html>