<p>
    <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Time</th>
                <th>Location</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    {{ event.event_type }}
                </td>
                <td>
                    {{ event.event_time }}
                </td>
                <td>
                    {{ event.event_location }}
                </td>
                <td>
                    {{ event.event_comment }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</p>